<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>CPANtoberfest: CPAN distributions to hack on for Hacktoberfest</title>
    <link rel='stylesheet' href='cpantoberfest.css' type='text/css'
</head>
<body>
    <h1>CPANtoberfest</h1>
    <h2>CPAN distributions to hack on for Hacktoberfest</h2>

<a href="https://github.com/neilbowers/cpantoberfest"><img style="position: absolute; top: 0; right: 0; border: 0;" alt="Fork me on GitHub" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

<p>
<a href="https://hacktoberfest.digitalocean.com">Hacktoberfest</a> is
a month-long celebration of open source software.
People are encouraged to contribute to open source projects by submitting
pull requests. This page is a list of CPAN projects you could contribute to.
Send me pull requests to add more projects!
</p>

[% FOREACH package IN repositories %]
<div class="distribution">
    <a href="[% package.url | html %]"><h1>[% package.name | html %]</h1></a>
    <p>[% package.description | html %]</p>
    <a class="repo" href="[% package.repo | html %]">repo</a>
    <a class="url" href="[% package.url | html %]">home</a>
</div>
[% END %]

</body>
</html>
